# Copyright (C) 2026 BlueEther@no.lastname.nz
# SPDX-License-Identifier: AGPL-3.0-or-later

DATABASE_URL=postgresql://vote_viewer:CHANGE_ME@postgres:5432/lemmy
APP_PREFIX=/votes
PAGE_SIZE=100
LEMMY_NETWORK=lemmy-easy-deploy_default
